@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(to right, #41b0b4, #1a4b78);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;

}

    h1, small {
        font-family: "Poppins";
        padding: 10px;
        font-size: 30px;
        color: antiquewhite;
    }

    h2 {
        font-family: "Poppins";
        padding: 10px;
        font-size: 70px;
        color: antiquewhite;
    }

input {
    padding: 1rem;
    border-radius: 25px;
    border: none;
    background-color: #fff;
    font-family: inherit;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    min-width: 300px;
    font-size: 1rem;

}
input:focus {
    outline: none;
}
.weather {
    text-align: center;
    font-size: 2rem;
}
.weather h2 {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
@keyframes my-animation {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(35px);
    }
  }
  
  h2 {
    animation: my-animation 2s linear;
  }
  
  @keyframes fontbuldge {
    0% {
        font-size: 0px;
    }
  
    100% {
            font-size: 30px;
    }
  }
    h1 {
        animation: fontbuldge 1.5s ease-in-out;
    }
